* {
  padding: 0;
  margin: 0;
  font-family: cursive;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content:'';
  display:block ;
  clear: both;
}
header {
  background-color: #86A788;
}
header h1 a {
  float: left;
  padding: 20px 0;
  color: #FFFDEC;
}
header ul {
  float: right;
  padding:0 30px;
}
header ul li {
  display:inline-block;
}

header ul li a {
  padding: 30px 20px;
  display: inline-block;
  color:#FFFDEC ;
  text-transform: uppercase;
}
header ul li a:hover {
  background-color: #FFE2E2;
  border-radius: 5px;
  padding: 5px 10px;
}
.active {
   background-color:#FFE2E2;
   cursor: pointer;
   transition: 10s;
}

.header-icon i{
  font-size: 20px;
}

.bg{
  height:90vh;
  background-image: url('image/harvest.webp');
  background-size: cover;
  position: relative;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg:after{
  content:'';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.bg h2{
  color: white;
  z-index: 1;
  padding: 20px 25px;
  border-style: dotted; solid white;
}
section {
  padding: 50px 0;
}
section h3 {
text-align: center;
padding:20px 0;
color:#86A788 ;
margin-bottom: 20px;  
}
.about p {
  color: #86A788 ;
  word-spacing: 2px;
  line-height: 25px;
  text-align: center;
}
.varian {
  color: #86A788;
}
.col-4 {
  width:100%; 
  text-align: center;
  
}
table tr td img{
  width:250px;
  height: 210px;
  border-radius: 10px;
}
footer {
  padding: 30px 0;
  background-color: #86A788;
  color: white;
  text-align: center;
}
ul .list {
  border-style: ;
}

/* card */
.section-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  width: 80%;
  margin: 30px auto;
}
.card{
  background-color:#86A788 ;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  
}
.card-img{
  width: 100%;
  display: block;
  

}
.card-details{
  padding: 10px 0;
}
.card-details h3{
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: #FFFDEC;
}

/* button */

.btn{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #86A788;
  font-size: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  background-color: beige;
}

/* popup */

.popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0,.8);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: all .3s;
}

.popup-content{
  width: 50%;
  background-color: #86A788;
  box-shadow: 0 20px 40px rgba(0, 0, 0,0.4);

  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(0,0) scale(.25);
  opacity: 0;

transition: all .5s .1s;
}
.popup-img{
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.popup-img img{
  display: block;
  width: 25%;
}
.popup-header{
  text-align: center;
  text-transform: uppercase;
  color: #FFFDEC;
  margin-bottom: 30px;
}
.popup-header h1{
  font-size: 20px;
  margin-bottom: 10px;
}
.popup-text{
  padding: 0 36px;
  line-height: 1.2;
  font-size: 12px;
  color: #FFFDEC;
  text-align: center;
  padding-bottom: 20px;
}
.varian{
  text-align: center;
  color:#86A788 ;
}
.maps{
  display: inline-block;
  padding-left: 70px;
  padding-bottom: 80px;
}
.youtube{
  display: inline-block;
  vertical-align: top;
  padding-left: 90px;
  padding-bottom: 80px;
}

#popup:target{
  opacity: 1;
  visibility: visible;
}
#popup:target .popup-content{
  opacity: 1;
  transform: translate(0,0) scale(1);
}
.popup-close:link,
.popup-close:visited{
  position: absolute;
  top: 12px;
  right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
}
.popup-close:hover,
.popup-close:active{
  color: #555;
}

#about:target .about{
  opacity: 1;
}
#varian:target .varian{
  opacity: 1;
}
